/*.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }*/



.top {
  margin-top: 50px;
}
.topBut {
  display: inline-block;
  width: 30%;
  height: 100px;
  margin-right: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #b0e0e6;
  border: 1px solid lightgrey;
}
.midBut {
  display: inline-block;
  width: 30%;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid lightgrey;
}
.butImg {
  max-width:100%;
  max-height:100%;
}
#clickInstru {
  text-align: center;
}
#pokeInstru {
  text-align: center;
}
.cancfirm {
  display: inline-block;
  width: 45%;
  margin-top: 10px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #b43864;
  color: white;
}
#pokeList {
  overflow: scroll;
  height: 500px;

  /*background-color: yellow;*/
}


