
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link type="text/css" rel="stylesheet" href="../assets/stylesheets/about.css">
</head>
<body>
	<div class="container">
		<h2>"WordPress started in 2003 with a single bit of code to enhance the typography of everyday writing and with fewer users than you can count on your fingers and ..."</h2>
		<div class="row" id="main">

			<div class="col-xs-5" style="padding-top:20px; border:1px solid white;">
				<h1 style="padding-left:130px;">Eric N</h1>
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<!-- front content -->
							<img src="./assets/images/billy.png" alt="superdummy" class="img-circle"  width="250" height="230" >
						</div>
						<div class="back">
							<!-- back content -->
							<p>hello</p>
						</div>
					</div>
				</div>
				<p >MongoDB (from humongous) is a free and open-source cross-platform document-oriented database. Classified as a NoSQL database, MongoDB avoids the traditional table-based relational database structure in favor of JSON-like documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster. MongoDB is developed by MongoDB Inc. and is free and open-source, published under a combination of the GNU Affero General Public License and the Apache License.</p>
			</div>
			<div class="col-xs-5" style=" padding-top:20px; border:1px solid white; margin-left:100px;" >
				<h1 style="padding-left:130px;">John L</h1>
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<!-- front content -->
							<img src="./assets/images/john.png" alt="superdummy" class="img-circle"  width="250" height="230" >
						</div>
						<div class="back">
							<!-- back content -->
							<p>hello</p>
						</div>
					</div>
				</div>
				<p >MongoDB (from humongous) is a free and open-source cross-platform document-oriented database. Classified as a NoSQL database, MongoDB avoids the traditional table-based relational database structure in favor of JSON-like documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster. MongoDB is developed by MongoDB Inc. and is free and open-source, published under a combination of the GNU Affero General Public License and the Apache License.</p>
			</div>
			<div class="col-xs-5" style="padding-top:40px; border:1px solid white;">
				<h1 style="padding-left:130px;">Kenny L</h1>
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<!-- front content -->
							<img src="./assets/images/kenny.png" alt="superdummy"  class="img-circle"  width="250" height="230" >
						</div>
						<div class="back">
							<!-- back content -->
							<p>hello</p>
						</div>
					</div>
				</div>
				<p >MongoDB (from humongous) is a free and open-source cross-platform document-oriented database. Classified as a NoSQL database, MongoDB avoids the traditional table-based relational database structure in favor of JSON-like documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster. MongoDB is developed by MongoDB Inc. and is free and open-source, published under a combination of the GNU Affero General Public License and the Apache License.</p>
			</div>
			<div class="col-xs-5" style="padding-top:40px; border:1px solid white; margin-left:100px;">
				<h1 style="padding-left:100px;">Bhargavi K</h1>
				<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						<div class="front">
							<!-- front content -->
							<img src="./assets/images/bhar.png" alt="superdummy"  class="img-circle" width="250" height="230" >
						</div>
						<div class="back">
							<!-- back content -->
							<p>hello</p>
						</div>
					</div>
				</div>
				<p >MongoDB (from humongous) is a free and open-source cross-platform document-oriented database. Classified as a NoSQL database, MongoDB avoids the traditional table-based relational database structure in favor of JSON-like documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster. MongoDB is developed by MongoDB Inc. and is free and open-source, published under a combination of the GNU Affero General Public License and the Apache License.</p>
			</div>
		</div>
</div>
</body>
</html>

