<div class="container">
	<div class="row" id="chatpage">
		<div class="col-xs-2" id="userslist">
			<h4>Trainers</h4>
			<h6 ng-repeat="u in allUsers">{{u.name}}</h6>
		</div>
		<div class="col-xs-10" id="chatroom" overflow="scroll">
			<h2 ng-repeat="message in messages">{{message.name}} said: {{message.message}}</h2>

		</div>
	</div>
	<div class="row text-center">
		<input type="text" ng-model="newMessage.message"/>
		<button class="btn btn-primary" ng-click="sendMessage(newMessage)">Submit</button>
	</div>
</div>