<div class="collapse navbar-collapse" ng-controller="mapController">
    <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/map')}"><a href="/">Map</a></li>
        <li ng-class="{ active: isActive('/chat')}"><a href="/chat">Chat</a></li>
        <li ng-class="{ active: isActive('/trade')}"><a href="/trade">Trade</a></li>
        <li ng-class="{ active: isActive('/aboutus')}"><a href="/aboutus">About Us</a></li>
    </ul>
   
    	<!-- <li ng-class="{ active: isActive('/signin')}"><a href="/signin">Sign in &nbsp&nbsp&nbsp&nbsp|</a></li>  
    	<li ng-class="{ active: isActive('/register')}"><a href="/register">Register</a></li> -->
    

</div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>